    body {
        color: white;
        font-family: 'Roboto', sans-serif;
    }
    #searchItunes {
        color:black;
    }

    
    h1,
    h2 {
        line-height: 1.2;
        outline: none;
    }
    
    
    a {
        text-decoration: none !important;
        color: black;
    }
    
    .jumbotron {
        background-color: transparent;
        margin: 250px;
        padding: 50px;
    }
    
    .panel {
        background-color: transparent;
        text-align: center;
    }
    
    #chartdiv {
        width: 100%;
        height: 850px;
    }
    
    #welcome,
    #data {
        height: 100vh;
    }
    
    #content,
    #youtube,
    #spotify {
        height: 50vh;
        background:rgba(14, 13, 13, 0.5);

    }
    
    #youtube {
        border: none;
    }
    
    #footer {
        color: white;
        background:rgba(14, 13, 13, 0.5);
        height: 150px;
    }
    
   #welcome {
        background-image: url('../images/concert.jpg');
        z-index: -1;
    }
    
    #mapyo {
        background-image: url('../images/black1.jpg');
        z-index: -1;
    }
    
    #allstuff {
        background-image: url('../images/lights2.jpg');
        z-index: -1;
    }
    #top3,#itunes {
        text-decoration: underline;
        line-height: 1.2;
        margin-bottom: 5px;
        text-align: center;
    }